<script>
	import Nav from '../components/Nav.svelte';
	import { NotificationDisplay } from '@beyonk/svelte-notifications'

	export let segment;
</script>

<Nav {segment}/>

<main>
	<slot></slot>
	<NotificationDisplay/>
</main>