<style>
div#sapper {
	height: 100vh;
}
div#sapper nav {
	height: 64px;
}
div#sapper main {
	height: calc(100vh - 64px);
}

tbody.scrollable-tbody {
  display:block;
  height:calc(100vh - 120px);
  overflow:auto;
}
thead.fixed-thead, tbody.scrollable-tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead.fixed-thead {
  width: calc( 100% - 1em )
}
table.fixed-header-table {
  width:100%;
}

.flex {
	display: flex;
}

.filters-container {
	width: 300px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
}

tr.row-link {
	cursor: pointer;
}
tr.row-link:hover {
	background-color: #f6f6f6;
}

tr.no-results>td {
	font-style: italic;
	text-align: center;
}

.flex.-mobile {
	flex-direction: column;
}

.brewery-card {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}

.brewery-card:first-child {
	margin-top: 15px;
}

.data-group>label {
	display: block;
}

.filters-toggle-banner {
	padding: 15px;
	text-align: center;
	font-weight: bold;
	background-color: #208c82;
	color: #f6f6f6;
}
</style>

<script>
  import Api from '../Api';
  import States from '../states';
  import { tick, onMount } from 'svelte';

  const formatAddress = (brewery) => {
	  const values = [
		  brewery.street,
		  brewery.city,
		  brewery.state
	  ].filter(s => !!s);
	  let addressString = values.join(', ');
	  if (brewery.postal_code) addressString = `${addressString} ${brewery.postal_code}`;
	  return addressString;
  };

  let breweries   = [];
  let isMobile    = false;
  let showFilters = true;

  onMount(() => {
	  Api.list(null).then(result => breweries = result);
	  isMobile = screen.width < 800;
	  window.onresize = () => isMobile = screen.width < 800;

	  showFilters = !isMobile;
  });

  let filters = {
	  by_city: "",
	  by_name: "",
	  by_state: "",
  }

  async function applyFilters() {
	  await tick();
	  const result = await Api.list(filters);
	  breweries = result;
  }

  function goTo(id) {
	  window.location.pathname = `/breweries/${id}`;
  }

  function toggleFilters() {
	  showFilters = !showFilters;
  }
</script>

<svelte:head>
	<title>Brewskis</title>
</svelte:head>

<div class={`flex ${isMobile ? "-mobile" : ""}`}>
	{#if isMobile}
	<div class="filters-toggle-banner" on:click={toggleFilters}>
		{ showFilters ? "Hide Filters" : "Show Filters" }
	</div>
	{/if}
	{#if showFilters}
	<div class="filters-container">
		<div>
			<label>Name</label>
			<input type="text" placeholder="Filter by name..." bind:value={filters.by_name} on:keydown={applyFilters}/>
		</div>
		<div>
			<label>City</label>
			<input type="text" placeholder="Filter by city..." bind:value={filters.by_city} on:keydown={applyFilters}/>
		</div>
		<div>
			<label>State</label>
			<select class="browser-default" bind:value={filters.by_state} on:change={applyFilters}>
				{#each States as state}
				<option value={state} selected={filters.by_state === state}>{state}</option>
				{/each}
			</select>
		</div>
	</div>
	{/if}
	{#if !isMobile}
	<table class="brewery-table fixed-header-table">
		<thead class="fixed-thead">
			<tr>
				<td>Name</td>
				<td>Address</td>
				<td>Phone</td>
				<td>Website</td>
			</tr>
		</thead>
		<tbody class="scrollable-tbody">
			{#each breweries as b}
			<tr class="row-link" on:click={() => goTo(b.id)}>
				<td>{b.name}</td>
				<td>{formatAddress(b)}</td>
				<td><a href={`tel:${b.phone}`}>{b.phone}</a></td>
				<td><a href={b.website_url}>{b.website_url}</a></td>
			</tr>
			{/each}
			{#if breweries.length === 0}
			<tr class="no-results">
				<td colspan="4">No Results</td>
			</tr>
			{/if}
		</tbody>
	</table>
	{/if}
	{#if isMobile}
	<div class="brewery-table-mobile">
		{#each breweries as b}
		<div class="brewery-card" on:click={() => goTo(b.id)}>
			<div class="data-group">
				<label>Name</label>
				<span>{b.name}</span>
			</div>
			<div class="data-group">
				<label>Address</label>
				<span>{formatAddress(b)}</span>
			</div>
			<div class="data-group">
				<label>Phone</label>
				<span><a href={`tel:${b.phone}`}>{b.phone}</a></span>
			</div>
			<div class="data-group">
				<label>Website</label>
				<span><a href={b.website_url}>{b.website_url}</a></span>
			</div>
		</div>
		{/each}
	</div>
	{/if}
</div>
