<script>
import { notifier } from '@beyonk/svelte-notifications';
import { onMount }  from 'svelte';

let hasNotificationPermissions = false;

const requestNotificationPermission = () => {
    if (Notification) {
        if (Notification.permission !== "granted") {
            Notification.requestPermission(status => {
                if (status === "granted") {
                    hasNotificationPermissions = true;
                }
            });
        } else {
            notifier.success("Notification permissions are already granted!");
        }
    } else {
        notifier.danger("Looks like notifications are not supported by your browser.");
    }
};

const sendNotification = () => {
    if (!hasNotificationPermissions) {
        notifier.danger("Looks like you haven't requested notification permissions yet, or you denied permission.");
        return;
    }
    const options = {
        body: "This is a test notification from Brewskis! It also has a custom icon, and a custom vibration pattern for mobile devices!",
        icon: "/beer.png",
        vibrate: [100, 50, 100],
    }

    navigator.serviceWorker.getRegistration().then(reg => reg.showNotification("This is a native notification!", options));
};

let geoLocation = null;
const showGeoLocation = () => {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(location => {
            geoLocation = {};
            geoLocation.coords = location.coords;
            geoLocation.accuracy = location.accuracy;
        });
    } else {
        notifier.danger("Looks like geolocation is not supported by your browser.");
    }
};

const clearInstallPromptCookie = () => {
    document.cookie = "brewskis-install-prompt-shown=false;";
    location.reload();
};

let systemInfo = null;
const showSystemInfo = async () => {
    systemInfo = {};
    if ('getBattery' in navigator || ('battery' in navigator && 'Promise' in window)) {
        if ('getBattery' in navigator) {
            systemInfo.battery = await navigator.getBattery();
        } else {
            systemInfo.battery = await Promise.resolve(navigator.battery);
        }
    }
    if (navigator.deviceMemory) {
        systemInfo.deviceMemory = navigator.deviceMemory;
    }
    systemInfo.networkState = navigator.onLine;
    const connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection || navigator.msConnection;
    if (connection) {
        systemInfo.networkInfo = connection;
    }
};

onMount(() => {
    if (Notification && Notification.permission === "granted") {
        hasNotificationPermissions = true;
    }
});

</script>

<style>
.playground-container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-container {
    display: inline-block;
    padding-top: 15px;
    padding: 100px;
}

.info-container:first-child {
    padding-top: 100px;
}

.info-container .card {
    width: 500px;
    margin: auto;
}

.playground-btn {
    margin-bottom: 15px;
}
</style>

<h4>Explore some PWA features here!</h4>

<div class="playground-container">

<button type="button" class="waves-effect waves-light btn playground-btn" on:click={requestNotificationPermission}>Request Notification Permissions</button>
<button type="button" class="waves-effect waves-light btn playground-btn" on:click={sendNotification}>Send a Notification</button>
<button type="button" class="waves-effect waves-light btn playground-btn" on:click={showGeoLocation}>Show my Geolocation</button>
<button type="button" class="waves-effect waves-light btn playground-btn" on:click={showSystemInfo}>Show System Info</button>
<button type="button" class="waves-effect waves-light btn playground-btn" on:click={clearInstallPromptCookie}>Clear Install Prompt Cookie & Reload</button>

</div>

{#if geoLocation != null}
<div class="info-container">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <div>
                    <label>Coordinates</label>
                    <div>{ geoLocation.coords.latitude }, { geoLocation.coords.longitude }</div>
                </div>
                <div>
                    <label>Accuracy</label>
                    <div>{ geoLocation.coords.accuracy }</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/if}

{#if systemInfo != null}
<div class="info-container">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                {#if systemInfo.battery != null}
                <div>
                    <label>Battery Status</label>
                    <div>{ systemInfo.battery.charging ? 'Charging' : 'Discharging' }</div>
                </div>
                <div>
                    <label>Battery Level</label>
                    <div>{ systemInfo.battery.level }</div>
                </div>
                {/if}
                {#if systemInfo.deviceMemory != null}
                <div>
                    <label>Allocated Memory</label>
                    <div>~{ systemInfo.deviceMemory } GiB</div>
                </div>
                {/if}
                <div>
                    <label>Network State</label>
                    <div>{ systemInfo.networkState }</div>
                </div>
                {#if systemInfo.networkInfo != null}
                <div>
                    <label>Network Type</label>
                    <div>{ systemInfo.networkInfo.type || 'Unknown' }</div>
                </div>
                <div>
                    <label>Effective Network Type</label>
                    <div>{ systemInfo.networkInfo.effectiveType || 'Unknown' }</div>
                </div>
                <div>
                    <label>Downlink Speed</label>
                    <div>{ systemInfo.networkInfo.downlink || 'Unknown' }</div>
                </div>
                <div>
                    <label>Downlink Max Speed</label>
                    <div>{ systemInfo.networkInfo.downlinkMax || 'Unknown' }</div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
{/if}
