<script>
    import { tick, onMount } from 'svelte';


    let showInstallPrompt = false;
    let installPromptEvent;

    /**
     * iOS devices will never show the install prompt, because Apple ¯\_(ツ)_/¯
     */
    const isIOS = () => {
        const iosDevices = [
            'iPad Simulator',
            'iPhone Simulator',
            'iPod Simulator',
            'iPad',
            'iPhone',
            'iPod',
        ];

        if (!!navigator.platform) {
            while (iosDevices.length) {
                if (navigator.platform === iosDevices.pop()) {
                    return true;
                }
            }
        }
        return false;
    };

    const installApp = () => {
        if (installPromptEvent == null) {
            throw new Error("beforeinstallprompt event not fired yet.");
        }

        installPromptEvent.prompt();
        installPromptEvent.userChoice.then(() => showInstallPrompt = false);
        document.cookie = "brewskis-install-prompt-shown=true;";
    };

    const noThanks = () =>{
        showInstallPrompt = false;
        document.cookie = "brewskis-install-prompt-shown=true;";
    };
    let isMobile = false;

    onMount(() => {
        isMobile = screen.width < 800;
        window.onresize = () => isMobile = screen.width < 800;

        const userHasDismissedInstallPrompt = document.cookie != null && document.cookie.includes("=true");

        if (!userHasDismissedInstallPrompt) {
            window.addEventListener('beforeinstallprompt', (e) => {
                e.preventDefault();
                installPromptEvent = e;
                if (!showInstallPrompt) {
                    showInstallPrompt = true;
                }
            });

            // Couldn't get installation to work on iOS at all :(
            // if (isIOS()) {
            //     showInstallPrompt = true;
            // }
        }
    });
</script>

<style>
.-install-prompt {
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    position: absolute;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
    transition: all 1s;
}

.-install-prompt.desktop {
    left: 30rem;
    right: 30rem;
    padding-right: 2rem;
}

.-install-prompt.desktop>h4 {
    font-size: 1.75rem;
}

.-install-prompt.mobile {
    padding-right: 0.5rem;
}

.-install-prompt.mobile>.actions-container {
    text-align: right;
}

.-install-prompt.mobile>h4 {
    font-size: 1.25rem;
}

.-install-prompt.-hide {
    top: -500px;
}
</style>

<div class={`-install-prompt ${showInstallPrompt ? "" : "-hide"} ${isMobile ? "mobile" : "desktop"}`}>
    <h4>Your browser supports app installation!</h4>
    <div class="actions-container">
        <a type="button" class={`waves-effect waves-light btn ${isMobile ? "btn-small" : ""}`} on:click={installApp}>
            Install
        </a>
        <a type="button" class={`waves-effect waves-light btn grey lighten-1 ${isMobile ? "btn-small" : ""}`} on:click={noThanks}>
            No Thanks
        </a>
    </div>
</div>