<script>
	import InstallPrompt from './InstallPrompt.svelte';

	export let segment;

	import { tick, onMount } from 'svelte';

	let isMobile = false;
	onMount(() => {
		isMobile = screen.width < 800;
        window.onresize = () => isMobile = screen.width < 800;
	});
</script>

<style>
nav {
	background-color: #26a69a;
}

.nav-logo {
	width: 50px;
	margin-top: 5px;
}

.nav-link {
	padding: 0;
}

.nav-title {
	line-height: 1;
	vertical-align: bottom;
	padding: 0;
	padding-bottom: 25px;
}

.playground-link {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
</style>

<InstallPrompt/>
<nav>
	<div class="nav-wrapper">
		<span class="brand-logo">
			<a href="/" class="nav-link">
				<img src="/beer.png" class="nav-logo" alt="Brewskis"/>
				<span class="nav-title">Brewskis</span>
			</a>
		</span>
		{#if !isMobile}
			<a href="/playground" class="playground-link waves-effect waves-light btn grey lighten-1">PWA Playground</a>
		{/if}
	</div>
</nav>