<script context="module">
import Api from '../../Api';

export async function preload(page, session) {
    // this id param is available as a route param
    // because the file is named [id].svelte
    const { id } = page.params;

    // svelte has a this.fetch() wrapper around fetch that allows you to use fetch from the service worker
    const brewery = await Api.get(id, this);
    return { brewery };
}
</script>

<script>
import { onMount } from 'svelte';
export let brewery;

onMount(() => {
    renderMap(brewery);

    isMobile = screen.width < 800;
    window.onresize = () => isMobile = screen.width < 800;
});

const renderMap = brewery => {
    const map = L.map('leaflet-map').setView([brewery.latitude, brewery.longitude], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([brewery.latitude, brewery.longitude]).addTo(map).bindPopup(brewery.name);
}

const formatAddress = (brewery) => {
	  const values = [
		  brewery.street,
		  brewery.city,
		  brewery.state
	  ].filter(s => !!s);
	  let addressString = values.join(', ');
	  if (brewery.postal_code) addressString = `${addressString} ${brewery.postal_code}`;
	  return addressString;
  };

let isMobile = false;
</script>

<style>
.brewery-card {
    margin-top: 50px;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

h2 {
    text-transform: capitalize;
    font-size: 1.75rem;
    font-style: italic;
    color: #cccccc;
}

.none-label {
    color: #cccccc;
    font-style: italic;
}

.chip {
    text-transform: capitalize;
}

div#leaflet-map {
    height: 425px;
}

h1.h1-mobile {
    font-size: 2.5rem;
    margin-top: 0;
}

h2.h2-mobile {
    font-size: 1.2rem;
}

.data-group>label {
    display: block;
}

.data-group:last-child {
    margin-bottom: 15px;
}
</style>

<svelte:head>
<title>{ brewery.name }</title>
</svelte:head>

<div class="container-fluid">
    <div class="card-panel brewery-card">
        <h1 class={isMobile ? "h1-mobile" : ""}>{ brewery.name }</h1>
        <h2 class={isMobile ? "h2-mobile" : ""}>{ `${brewery.brewery_type ? brewery.brewery_type + " brewery" : ""}` }</h2>
        <hr>
        {#if isMobile}
        <div class="data-card">
            <div class="data-group">
				<label>Name</label>
				<span>{brewery.name}</span>
			</div>
			<div class="data-group">
				<label>Address</label>
				<span>{formatAddress(brewery)}</span>
			</div>
			<div class="data-group">
				<label>Phone</label>
				<span><a href={`tel:${brewery.phone}`}>{brewery.phone}</a></span>
			</div>
			<div class="data-group">
				<label>Website</label>
				<span><a href={brewery.website_url}>{brewery.website_url}</a></span>
			</div>
        </div>
        {/if}
        {#if !isMobile}
        <table>
            <thead>
                <tr>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{ brewery.street }</td>
                    <td>{ brewery.city }</td>
                    <td>{ brewery.state }</td>
                    <td>{ brewery.postal_code }</td>
                    <td><a href={ `tel:${brewery.phone}` }>{ brewery.phone }</a></td>
                    <td><a href={ brewery.website_url }>{ brewery.website_url }</a></td>
                    <td>
                        {#if brewery.tag_list && brewery.tag_list.length > 0}
                            {#each brewery.tag_list as tag}
                                <div class="chip">{ tag }</div>
                            {/each}
                        {/if}
                        {#if !brewery.tag_list || brewery.tag_list.length === 0}
                        <span class="none-label">None</span>
                        {/if}
                    </td>
                </tr>
            </tbody>
        </table>
        {/if}
        <div id="leaflet-map">
        </div>
    </div>
</div>
